/R1/carpetasyficheros/target/
/R1/paquetenio/target/
/R1/operacionesbasicasnio/target/
/R1/filestreamscaracteres/target/
/R1/filestreamsbytes/target/
/R1/05-XML/filesaxconversor/target/
/R4/objectdbProyecto/target/
