/R1/clasefile/target/
/R1/claseFileNIO/target/
/R1/FilesStreams/target/
/R1/filestreambytes/nbproject/private/
/R1/filestreambytes/build/
/R1/fileaccesoaleatorio/target/
/R1/accesoaleatorio/target/
/R1/filedomxml/target/
/R1/filexmlconversor/target/
